<div class="container" ng-controller="publicRoom" >
<div class="row " style="padding-top:40px;">
    <br /><br />
    <div class="col-md-12">
    <div class="alert alert-success " role="alert" ng-show="newUserVisible" >
                <span><b>{{newUser}}</b> ha entrado a la sala</span>
            </div>
        <div class="panel panel-info">
            <div class="panel-heading"> RTS Team Chat Room (BETA 0.1) </div>
            <div class="panel-body chat-height" >
<ul class="media-list chat-height" id="messagesWindow"  >

                                    <li class="media" ng-repeat="message in publicRoomMessages" >

                                        <div class="media-body">

                                            <div class="media">
                                                <span><b>{{message.nickname}}:</b></span>
                                                <div class="media-body" >
                                                    <span ng-bind-html="message.body"></span>
                                                    <br />
                                                   <small class="text-muted">{{message.nickname + ' | ' + message.date  }}</small>
                                                    <hr />
                                                </div>
                                            </div>

                                        </div>
                                    </li>
                                </ul>
                                
            </div>
            <div class="panel-footer">
            <form autocomplete="off" id="messageForm" ng-submit="submitMessage()" >
            <fieldset>
                <div class="input-group">
                                    <input id="userMessage" ng-model="userMessage" required type="text" class="form-control" placeholder="Enter Message" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-info" type="submit">SEND</button>
                                    </span>
                                </div>
            </fieldset>    
            </form>
            <div ng-show="userIsTyping" id="userTyping"><span>{{ userTypingNickname }} </span>está escribiendo...</div>
            </div>
        </div>
    </div>
    <div class="col-md-4" style="display:none;" >
          <div class="panel panel-primary">
            <div class="panel-heading">
               ONLINE USERS
            </div>
            <div class="panel-body">
                <ul class="media-list">

                                    <li class="media">

                                        <div class="media-body">

                                            <div class="media">
                                                <a class="pull-left" href="#">
                                                    <img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.png" />
                                                </a>
                                                <div class="media-body" >
                                                    <h5>Alex Deo | User </h5>
                                                    
                                                   <small class="text-muted">Active From 3 hours</small>
                                                </div>
                                            </div>

                                        </div>
                                    </li>
     <li class="media">

                                        <div class="media-body">

                                            <div class="media">
                                                <a class="pull-left" href="#">
                                                    <img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.gif" />
                                                </a>
                                                <div class="media-body" >
                                                    <h5>Jhon Rexa | User </h5>
                                                    
                                                   <small class="text-muted">Active From 3 hours</small>
                                                </div>
                                            </div>

                                        </div>
                                    </li>
                    <li class="media">

                                        <div class="media-body">

                                            <div class="media">
                                                <a class="pull-left" href="#">
                                                    <img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.png" />
                                                </a>
                                                <div class="media-body" >
                                                    <h5>Alex Deo | User </h5>
                                                    
                                                   <small class="text-muted">Active From 3 hours</small>
                                                </div>
                                            </div>

                                        </div>
                                    </li>
                    <li class="media">

                                        <div class="media-body">

                                            <div class="media">
                                                <a class="pull-left" href="#">
                                                    <img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.gif" />
                                                </a>
                                                <div class="media-body" >
                                                    <h5>Jhon Rexa | User </h5>
                                                    
                                                   <small class="text-muted">Active From 3 hours</small>
                                                </div>
                                            </div>

                                        </div>
                                    </li>
                     <li class="media">

                                        <div class="media-body">

                                            <div class="media">
                                                <a class="pull-left" href="#">
                                                    <img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.png" />
                                                </a>
                                                <div class="media-body" >
                                                    <h5>Alex Deo | User </h5>
                                                    
                                                   <small class="text-muted">Active From 3 hours</small>
                                                </div>
                                            </div>

                                        </div>
                                    </li>
     <li class="media">

                                        <div class="media-body">

                                            <div class="media">
                                                <a class="pull-left" href="#">
                                                    <img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.gif" />
                                                </a>
                                                <div class="media-body" >
                                                    <h5>Jhon Rexa | User </h5>
                                                    
                                                   <small class="text-muted">Active From 3 hours</small>
                                                </div>
                                            </div>

                                        </div>
                                    </li>
                    <li class="media">

                                        <div class="media-body">

                                            <div class="media">
                                                <a class="pull-left" href="#">
                                                    <img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.png" />
                                                </a>
                                                <div class="media-body" >
                                                    <h5>Alex Deo | User </h5>
                                                    
                                                   <small class="text-muted">Active From 3 hours</small>
                                                </div>
                                            </div>

                                        </div>
                                    </li>
                    <li class="media">

                                        <div class="media-body">

                                            <div class="media">
                                                <a class="pull-left" href="#">
                                                    <img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.gif" />
                                                </a>
                                                <div class="media-body" >
                                                    <h5>Jhon Rexa | User </h5>
                                                    
                                                   <small class="text-muted">Active From 3 hours</small>
                                                </div>
                                            </div>

                                        </div>
                                    </li>
                                </ul>
                </div>
            </div>
        
    </div>
</div>
  </div>
  
  
<!-- Welcome Modal -->
<div ng-controller="welcomeModalController" class="modal fade" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="welcomeModalLabel" data-backdrop="staticx" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="welcomeModalLabel">Welcome to Rts Chat room</h4>
      </div>
      <form autocomplete="off" class="form-horizontal" ng-disabled="formDisabled" ng-submit="subscribeToRoom()" >
        <div class="modal-body">
                <fieldset>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="welcomeNickName">Enter your Nickname: </label>  
                        <div class="col-md-6">
                            <input ng-disabled="formDisabled" id="welcomeNickName" required name="welcomeNickName" ng-model="welcomeNickName" type="text" placeholder="placeholder" class="form-control input-md">
                        </div>
                    </div>

                </fieldset>
        </div>
        <div class="modal-footer">
            <button ng-disabled="formDisabled" type="submit" class="btn btn-primary">Join</button>
        </div>
      </form>
    </div>
  </div>
</div>